/* main block */
.main-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url(./../images/main-background.png);
    background-size: cover;
    color:white;
}

/* gradient background for main block */
.main-block-background {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    opacity: .9;
}

/* wrapper for navigation panel */
.nav-bar-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 2%;
    font-family: 'Montserrat', sans-serif;
}

/* page title */
.main-block .title {
    font-size:1.4em;
    padding-left: 10%;
    font-weight: bold;
}

/* navigation panel with links */
.nav-bar {
    padding-right: 15%;
}

/* navigation links */
.nav-bar-links {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.nav-bar-links > li {
    padding-left: 30px;
    text-transform: uppercase;
}

.nav-bar-links > li:hover {
    color: #fce38a;
    text-decoration: underline;
    cursor: pointer;
}

/* greeting */
.greeting-wrapper {
    text-align: center;
    padding-top:7%;
    margin: 0 auto;
    width: 50%;
}

/* sub-greeting with cursive text */
.sub-greeting {
    font-family: 'Kaushan Script', cursive;
    font-size: 3em;
}

/* main greeting with bold text */
.greeting {
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 7em;
    text-transform: uppercase;
}

/* Button 'learn more', divider between button and greeting */
.learn-more-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}
/* divider */
.learn-more-wrapper .divider {
    font-size: 1.5em;
    user-select: none;
}
/* button 'learn more' */
.learn-more a:link, a:visited {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.learn-more {
    width: 12%; 
    margin: 0 auto;
    margin-top:1%;
    padding: 1% 0 1% 0;
    border: 4px solid #fff;
}

/* progress bar */
.progress-bar {
    margin: 0 auto;
    padding-top: 5%;
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.progress-bar > ul {
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
}
.progress-line {
    background-color: #fff;
    width: 200px;
    height: 3px;
    margin-bottom: 10%;
}

