
// For smartphones
@media (max-width:450px) {
    .about-us {
        padding: 0 15px;
    }
    .about-us-content {
        .about-us-images-container {
            flex-flow: column wrap;
            .about-us-image-wrapper:nth-of-type(n) {
                margin-bottom: 20px;
                padding-right: 0;
            }
        }

        .infographic {
            .achievment-wrapper {
                width: 80%;
                flex-flow: column wrap;
                height: 300px;

                .achievment {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    border: none;
                    border-bottom: 1px solid white;

                    .number {
                        font-size: 40px;
                        flex:1;
                    }

                    .title {
                        flex:4;
                        max-height: 20px;
                    }
                }
                .achievment:last-of-type {
                    border-bottom:none;
                }
            }
        }
    }
}

// For tablets
@media (min-width:450px) and (max-width:768px) {
    .about-us-content {
        .about-us-images-container {
            flex-flow: row wrap;
            .about-us-image-wrapper {
                margin-bottom: 20px;
            }
        }

        .infographic {
            .achievment-wrapper {                
                .achievment {
                    .number {
                        font-size: 50px;
                    }
                }
            }
        }
    }
}