//Variables
$main-header-font: 'Montserrat', sans-serif;
$sub-header-font: 'Kaushan Script', cursive;
$text-content-font: 'Roboto', sans-serif;

/* main section */
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url(./../../images/main/main-background.png);
    background-size: cover;
    background-position:center; 
    color:white;

    /* gradient background for main block */
    .main-background {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
        opacity: .9;

        // main page inner container
        .main-inner {
            width: 90%;
            height: 100vh;
            margin: 0 auto;
            position: relative;
        }
    }
}

/* wrapper for navigation panel */
.nav-bar-wrapper {
    display: flex;
    margin-top: 20px;
    font-family: $main-header-font;
    height: 50px;
    flex-flow: row wrap;
    justify-content: space-between;

    /* main page title */
    .title {
        font-size:30px;
        font-weight: bold;
    }

    /* navigation panel with links */
    .nav-bar {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        /* navigation links */
        .nav-bar-list {
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            // navigation link
            .nav-bar-link{
                margin-left: 30px;
                text-transform: uppercase;
                position: relative;

                // underline for nav link
                .link-underline {
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background-color: #fce38a;
                    bottom: -10px;
                    left: 0;
                    opacity: 0;
                    visibility: hidden;
                    transition: .3s ease;
                }

                // link text
                a {
                    display: block;
                    font-size:14px;
                }

                //On hover actions:
                // change link color
                a:hover {
                    color: #fce38a;
                    cursor: pointer;
                }

                // show underline for link
                a:hover + .link-underline {
                    opacity: 1;
                    visibility: visible;
                }
            }
            // remove left margin from the first link
            .nav-bar-link:first-child {
                margin-left: 0;
            }
        }
        // margin for bucket and search
        .shopping-bucket, .search-button {
            margin-left: 15px;
        }
    }
}


/* greeting */
.greeting-wrapper {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    width: 800px;

    /* sub-greeting with cursive text */
    .sub-greeting {
        font-family: $sub-header-font;
        font-size: 62px;
    }

    /* main greeting with bold text */
    .main-greeting {
        margin-top: 42px;
        font-family: $main-header-font;
        font-weight: 700;
        font-size: 130px;
        text-transform: uppercase;
    }
}

/* Button 'learn more', divider between button and greeting */
.learn-more-wrapper {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;

    /* divider */
    .divider {
        margin: 0 auto;
        height: 3px;
        width: 50px;
    }

    // custom color for divider
    .white {
        background-color: #fff;
    }

    // 'learn-more' button container
    .learn-more {
        margin: 50px auto 0;
        border: 4px solid #fff;
        display: inline-flex;
        height: 40px;
        align-items: center;
        justify-content: center;
        padding: 0 30px;

        /* button 'learn more' */
        a:link, a:visited {
            color: white;
            text-decoration: none;
            font-family: $main-header-font;
            text-transform: uppercase;
        }
    }
}

/* progress bar */
.progress-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    font-family: $main-header-font;
    text-transform: uppercase;
    font-weight: bold;

    // list of progress lines
    .progress-lines-list {
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;

        li {
            width: 22%;

            // progress list line
            .progress-line {
                background-color: #fff;
                height: 3px;
                margin-bottom:10px;
            }
        }
    }
}