//Services section
.work-services {
    width: 100%;
    padding: 0 100px;
    margin: 0 auto;

    // container for services
    .services-container {
        display: flex;
        margin-top: 25px;
        margin-bottom: 100px;
        flex-flow:row wrap;

        // wrapper for each service
        .service-wrapper {
            margin-top: 25px;
            padding-right: 30px;
            width: 33.33333%;
            display: flex;
            flex-flow:row nowrap;

            // service icon settings
            .service-icon-settings {
                height: 32px;
                width: 32px;
                background-repeat: no-repeat;
            }
            // set each service icon
            .service-icon-1 {
                background-image: url(./../../images/work-services/alarm.png);
            }
            .service-icon-2 {
                background-image: url(./../../images/work-services/line-graph.png);
            }
            .service-icon-3 {
                background-image: url(./../../images/work-services/computer.png);
            }
            .service-icon-4 {
                background-image: url(./../../images/work-services/book.png);
            }
            .service-icon-5 {
                background-image: url(./../../images/work-services/home.png);
            }
            .service-icon-6 {
                background-image: url(./../../images/work-services/image.png);
            }

            // Service description
            .service-description-wrapper {
                flex: 1;
                margin-left: 10px;

                // Service title
                .service-title {
                    font: bold 14px $main-header-font;
                    text-transform: uppercase;
                }

                // Service description text
                .service-description {
                    margin-top: 10px;
                    font: 15px $text-content-font;
                    color: #999999;
                }
            }
        }
        // remove right margin from the last service in row 
        .service-wrapper:nth-of-type(3n) {
            padding-right: 0;
        }
        // divider between rows of services
        .services-divider {
            margin-top: 25px;
            height: 1px;
            width: 100%;
            background-color: #e5e5e5
        }
    }
}