.header {
  /* Headers */
  /* divider */ }
  .header .header-inner {
    margin: 50px 0;
    margin-bottom: 30px;
    text-align: center; }
    .header .header-inner .sub-header {
      font: 24px "Kaushan Script", cursive;
      color: #333333; }
    .header .header-inner .main-header {
      margin-top: 10px;
      font: bold 30px "Montserrat", sans-serif;
      text-transform: uppercase;
      color: #333333; }
  .header .divider {
    margin: 0 auto;
    height: 3px;
    width: 50px; }
  .header .red {
    background-color: red; }

.about-us {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  width: 100%; }
  .about-us .about-us-content {
    /* Text content */
    /* Image content */ }
    .about-us .about-us-content .text-content {
      width: 800px;
      font: 15px "Roboto", sans-serif;
      color: #999999;
      margin: 30px auto;
      margin-bottom: 50px; }
    .about-us .about-us-content .about-us-images-container {
      width: 900px;
      display: flex;
      flex-flow: row wrap;
      margin: 0 auto;
      margin-bottom: 50px;
      /*image hover animation */ }
      .about-us .about-us-content .about-us-images-container .about-us-image-wrapper {
        flex: 1;
        margin-right: 20px;
        height: 200px;
        transition: .6s ease; }
        .about-us .about-us-content .about-us-images-container .about-us-image-wrapper .about-us-image-settings {
          height: 200px;
          background-size: cover; }
        .about-us .about-us-content .about-us-images-container .about-us-image-wrapper .about-us-image-1 {
          background-image: url(./../../images/about-us/layer-44.png); }
        .about-us .about-us-content .about-us-images-container .about-us-image-wrapper .about-us-image-2 {
          background-image: url(./../../images/about-us/layer-39.png); }
        .about-us .about-us-content .about-us-images-container .about-us-image-wrapper .about-us-image-3 {
          background-image: url(./../../images/about-us/layer-41.png); }
      .about-us .about-us-content .about-us-images-container .about-us-image-wrapper:last-of-type {
        margin-right: 0; }
      .about-us .about-us-content .about-us-images-container .about-us-image-wrapper:hover {
        transform: translate(-10px, -10px); }
      .about-us .about-us-content .about-us-images-container .about-us-image-wrapper:hover .about-us-image-cover {
        visibility: visible;
        opacity: .9; }
      .about-us .about-us-content .about-us-images-container .about-us-image-wrapper:hover .about-us-image-background {
        visibility: visible;
        opacity: 1;
        transform: translate(10px, 10px); }

.about-us-image {
  position: relative; }
  .about-us-image .about-us-image-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: .6s ease; }
    .about-us-image .about-us-image-cover .image-cover-inner {
      flex: 1; }
      .about-us-image .about-us-image-cover .image-cover-inner .image-cover-logo {
        background-image: url(./../../images/about-us/users.png);
        width: 32px;
        height: 24px;
        margin: 0 auto;
        background-repeat: no-repeat; }
      .about-us-image .about-us-image-cover .image-cover-inner .image-cover-description {
        color: white;
        text-transform: uppercase;
        font: bold 18px 'Montserrat', sans-serif; }
  .about-us-image .about-us-image-background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #95e1d3;
    visibility: hidden;
    opacity: 0;
    transition: .6s ease; }

/* Infographic content*/
.infographic {
  margin: 0 auto;
  background-color: #95e1d3; }
  .infographic .achievment-wrapper {
    width: 900px;
    height: 150px;
    align-items: center;
    display: flex;
    margin: 0 auto; }
    .infographic .achievment-wrapper .achievment {
      flex: 1;
      color: white;
      border-left: 1px solid white; }
      .infographic .achievment-wrapper .achievment .number {
        font: bold 72px 'Montserrat', sans-serif; }
      .infographic .achievment-wrapper .achievment .title {
        font: 14px 'Montserrat', sans-serif;
        text-transform: uppercase; }
    .infographic .achievment-wrapper .achievment:last-of-type {
      border-right: 1px solid white; }

/*# sourceMappingURL=about-us.css.map */
