* {
  box-sizing: border-box; }

/* main section */
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url(./../../images/main/main-background.png);
  background-size: cover;
  background-position: center;
  color: white;
  /* gradient background for main block */ }
  .main .main-background {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    opacity: .9; }
    .main .main-background .main-inner {
      width: 100%;
      padding: 0 100px;
      height: 100vh;
      margin: 0 auto;
      position: relative; }

/* wrapper for navigation panel */
.nav-bar-wrapper {
  display: flex;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  height: 50px;
  flex-flow: row wrap;
  justify-content: space-between;
  /* main page title */
  /* navigation panel with links */ }
  .nav-bar-wrapper .title {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center; }
  .nav-bar-wrapper .nav-bar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    /* navigation links */ }
    .nav-bar-wrapper .nav-bar .nav-bar-list {
      display: flex;
      flex-flow: row wrap;
      align-items: center; }
      .nav-bar-wrapper .nav-bar .nav-bar-list .nav-bar-link {
        margin-left: 30px;
        text-transform: uppercase;
        position: relative; }
        .nav-bar-wrapper .nav-bar .nav-bar-list .nav-bar-link .link-underline {
          position: absolute;
          width: 100%;
          height: 3px;
          background-color: #fce38a;
          bottom: -10px;
          left: 0;
          opacity: 0;
          visibility: hidden;
          transition: .3s ease; }
        .nav-bar-wrapper .nav-bar .nav-bar-list .nav-bar-link a {
          display: block;
          font-size: 14px; }
        .nav-bar-wrapper .nav-bar .nav-bar-list .nav-bar-link a:hover {
          color: #fce38a;
          cursor: pointer; }
        .nav-bar-wrapper .nav-bar .nav-bar-list .nav-bar-link a:hover + .link-underline {
          opacity: 1;
          visibility: visible; }
      .nav-bar-wrapper .nav-bar .nav-bar-list .nav-bar-link:first-child {
        margin-left: 0; }
    .nav-bar-wrapper .nav-bar .shopping-bucket, .nav-bar-wrapper .nav-bar .search-button {
      margin-left: 25px; }
    .nav-bar-wrapper .nav-bar .mobile-nav-menu {
      position: relative;
      display: none; }
      .nav-bar-wrapper .nav-bar .mobile-nav-menu .mobile-menu-icon {
        height: 25px;
        width: 25px;
        margin-left: 25px; }
        .nav-bar-wrapper .nav-bar .mobile-nav-menu .mobile-menu-icon .menu-icon-line {
          height: 2px;
          margin-top: 5px;
          background-color: #fff; }
      .nav-bar-wrapper .nav-bar .mobile-nav-menu .mobile-menu-icon:hover {
        cursor: pointer; }
      .nav-bar-wrapper .nav-bar .mobile-nav-menu .mobile-menu-content {
        position: fixed;
        top: 0;
        right: 0;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 50;
        height: 100%;
        overflow-x: hidden;
        transition: .5s; }
        .nav-bar-wrapper .nav-bar .mobile-nav-menu .mobile-menu-content .menu-header {
          color: black;
          font-size: 32px;
          font-weight: bold;
          margin: 15px auto;
          text-align: center;
          transition: .3s; }
        .nav-bar-wrapper .nav-bar .mobile-nav-menu .mobile-menu-content .mobile-menu-option a {
          color: black;
          font-size: 24px;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          border-bottom: 1px solid #b8b8b8;
          margin-top: 20px;
          transition: .3s; }
        .nav-bar-wrapper .nav-bar .mobile-nav-menu .mobile-menu-content .mobile-menu-option:hover {
          background-color: #f1f1f1; }
      .nav-bar-wrapper .nav-bar .mobile-nav-menu .mobile-menu-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.541); }

/* greeting */
.greeting-wrapper {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  padding: 0 200px;
  /* sub-greeting with cursive text */
  /* main greeting with bold text */ }
  .greeting-wrapper .sub-greeting {
    font-family: "Kaushan Script", cursive;
    font-size: 62px; }
  .greeting-wrapper .main-greeting {
    margin-top: 42px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 130px;
    text-transform: uppercase; }

/* Button 'learn more', divider between button and greeting */
.learn-more-wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  /* divider */ }
  .learn-more-wrapper .divider {
    margin: 0 auto;
    height: 3px;
    width: 50px; }
  .learn-more-wrapper .white {
    background-color: #fff; }
  .learn-more-wrapper .learn-more {
    margin: 50px auto 0;
    border: 4px solid #fff;
    display: inline-flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    /* button 'learn more' */ }
    .learn-more-wrapper .learn-more a:link, .learn-more-wrapper .learn-more a:visited {
      color: white;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase; }

/* progress bar */
.progress-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 50px; }
  .progress-bar .progress-lines-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    .progress-bar .progress-lines-list li {
      flex: 1;
      padding-right: 30px; }
      .progress-bar .progress-lines-list li .progress-line {
        background-color: #fff;
        height: 3px;
        margin-bottom: 10px; }
    .progress-bar .progress-lines-list li:last-of-type {
      padding-right: 0; }

.show-mobile-menu {
  width: 80%; }

.hide-mobile-menu {
  width: 0%; }

.show-mobile-menu-background {
  display: block; }

.hide-mobile-menu-background {
  display: none; }

.prevent-screen-scroll {
  overflow: hidden; }

/*# sourceMappingURL=main.css.map */
