@media (min-width: 768px) and (max-width: 1300px) {
  .main .main-background .main-inner {
    padding: 0 35px; }
    .main .main-background .main-inner .greeting-wrapper {
      padding: 0 150px;
      margin-top: 150px;
      margin-bottom: 50px; }
      .main .main-background .main-inner .greeting-wrapper .sub-greeting {
        font-size: 46px; }
      .main .main-background .main-inner .greeting-wrapper .main-greeting {
        font-size: 50px; } }
@media (min-width: 450px) and (max-width: 767px) {
  .main .main-background .main-inner {
    position: relative;
    padding: 0 25px; }
    .main .main-background .main-inner .nav-bar-wrapper .nav-bar .nav-bar-list {
      display: none; }
    .main .main-background .main-inner .nav-bar-wrapper .nav-bar .mobile-nav-menu {
      display: inline-block; }
    .main .main-background .main-inner .greeting-wrapper {
      padding: 0 100px;
      margin-top: 100px;
      margin-bottom: 50px; }
      .main .main-background .main-inner .greeting-wrapper .sub-greeting {
        font-size: 36px; }
      .main .main-background .main-inner .greeting-wrapper .main-greeting {
        font-size: 40px; }
    .main .main-background .main-inner .learn-more-wrapper {
      margin-bottom: 80px; }
    .main .main-background .main-inner .progress-bar {
      display: none; } }
@media (min-width: 321px) and (max-width: 449px) {
  .main .main-background .main-inner {
    padding: 0 15px; }
    .main .main-background .main-inner .nav-bar-wrapper .nav-bar .nav-bar-list {
      display: none; }
    .main .main-background .main-inner .nav-bar-wrapper .nav-bar .mobile-nav-menu {
      display: inline-block; }
    .main .main-background .main-inner .greeting-wrapper {
      padding: 0 50px;
      margin-top: 100px;
      margin-bottom: 50px; }
      .main .main-background .main-inner .greeting-wrapper .sub-greeting {
        font-size: 26px; }
      .main .main-background .main-inner .greeting-wrapper .main-greeting {
        font-size: 32px; }
    .main .main-background .main-inner .learn-more-wrapper {
      flex: 1;
      margin-bottom: 80px; }
    .main .main-background .main-inner .progress-bar {
      display: none; } }
@media (max-width: 320px) {
  .main .main-background .main-inner {
    padding: 0 10px; }
    .main .main-background .main-inner .nav-bar-wrapper .title {
      font-size: 25px; }
    .main .main-background .main-inner .nav-bar-wrapper .nav-bar .nav-bar-list {
      display: none; }
    .main .main-background .main-inner .nav-bar-wrapper .nav-bar .mobile-nav-menu {
      display: inline-block; }
    .main .main-background .main-inner .greeting-wrapper {
      padding: 0 25px;
      margin-top: 50px;
      margin-bottom: 50px; }
      .main .main-background .main-inner .greeting-wrapper .sub-greeting {
        font-size: 26px; }
      .main .main-background .main-inner .greeting-wrapper .main-greeting {
        font-size: 30px; }
    .main .main-background .main-inner .progress-bar {
      display: none; } }
@media (max-height: 650px) {
  .main .main-background .main-inner .greeting-wrapper {
    margin-top: 100px;
    margin-bottom: 50px; }
    .main .main-background .main-inner .greeting-wrapper .sub-greeting {
      font-size: 30px; }
    .main .main-background .main-inner .greeting-wrapper .main-greeting {
      font-size: 40px; } }
@media (max-height: 450px) {
  .main .main-background .main-inner .nav-bar-wrapper .nav-bar .nav-bar-list {
    display: none; }
  .main .main-background .main-inner .nav-bar-wrapper .nav-bar .mobile-nav-menu {
    display: inline-block; }
  .main .main-background .main-inner .greeting-wrapper {
    padding: 0 75px;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 20px; }
    .main .main-background .main-inner .greeting-wrapper .sub-greeting {
      font-size: 26px; }
    .main .main-background .main-inner .greeting-wrapper .main-greeting {
      font-size: 30px; }
  .main .main-background .main-inner .progress-bar {
    display: none; } }

/*# sourceMappingURL=main-responsive.css.map */
